*{
    margin:0;
    padding:0;
    box-sizing:border-box;   
}

body{
    background-image:linear-gradient(to right,rgb(130, 38, 206) 16%,rgb(233, 89, 89) 91.1%);
    background-size: cover;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div{
    width:30%;
    height:35vw;
    position:relative;
    margin:50px;
    background:#409192;
    border-radius:20px;
    box-shadow:0 20px 20px rgba(0,0,0,.2),0 0 0 4px #fff;
    min-width:250px;
    min-height:300px;
    cursor:pointer;
    transition:0.4s;
}
div:active{
    transform:translateY(8px);
}
div:hover{
    box-shadow: 30px 30px 30px #00000030,0 0 0 4px #fff;
}

.alarmicon,.todolist{
    width:50%;
    height:45%;
    position:absolute;
    left:50%;
    top:47%;
    transform:translate(-50%,-50%);
}

#alarmcaption,#todolist{
    position:absolute;
    left:50%;
    top:80%;
    transform:translate(-50%,0);
    font-size:2.5vw;
    font-family: helvetica, sans-serif;
}

h3{
    text-shadow:0 3px 4px #22222230;
}

@media (max-width:430px)
{
    #alarmcaption,#todolist{
        font-size:5vw;
    }
}
